{% load static %}

<aside class="sidebar col-md-3">
    <ul>
        <li id="nav_menu-2" class="widget-container widget_nav_menu">
            <div class="menu-side-menu-container">
                <ul id="menu-side-menu" class="menu">
                    <li id="menu-item-1517"
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-1463 current_page_item menu-item-1517">
                        <a href="{% url 'services' %}" aria-current="page">ALL SERVICES</a>
                    </li>
                    <li id="menu-item-1527"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1527">
                        <a href="{% url 'commercial-industrial-roofing' %}">ROOFING</a></li>
                    <li id="menu-item-1526"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1526">
                        <a href="{% url 'sheet-metal-fabrication' %}">SHEET METAL</a></li>
                    <li id="menu-item-1482"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1482">
                        <a href="{% url 'waterjet-cutting' %}">WATERJET CUTTING</a></li>
                </ul>
            </div>
        </li>
        <li id="text-1" class="widget-container widget_text"><h3 class="widget-title">Our office</h3>
            <div class="textwidget"></div>
        </li>
        <li id="anpstext-2" class="widget-container widget_anpstext">
            <div class="anpstext-wrap">
                <span class="anpstext-arrow"></span>

                <span class="fa fa-map-marker"></span>
                <span class="anpstext-desc">
                    <span class="important">1229 South 15th Street, St Joseph, MO  64503</span>
                                    </span>
            </div>
        </li>
        <li id="anpstext-3" class="widget-container widget_anpstext">
            <div class="anpstext-wrap">
                <span class="anpstext-arrow"></span>

                <span class="fa fa-phone"></span>
                <span class="anpstext-desc">
                    <span class="important">Phone: (816) 232-7793</span>
                                    </span>
            </div>
        </li>
        <li id="anpstext-4" class="widget-container widget_anpstext">
            <div class="anpstext-wrap">
                <span class="anpstext-arrow"></span>

                <span class="fa fa-envelope-o"></span>
                <span class="anpstext-desc">
                    <span class="important">scott@hausmans.com</span>
                                    </span>
            </div>
        </li>
    </ul>
</aside>
