{% extends '_base.html' %}
{% load static %}

{% block title %}COMMERCIAL / INDUSTRIAL ROOFING - Hausmans{% endblock %}

{% block seo %}
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <link rel="canonical" href="http://hausmans.com/commercial-industrial-roofing/"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="COMMERCIAL / INDUSTRIAL ROOFING - Hausmans"/>
    <meta property="og:url" content="http://hausmans.com/commercial-industrial-roofing/"/>
    <meta property="og:site_name" content="Hausmans"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="COMMERCIAL / INDUSTRIAL ROOFING - Hausmans"/>
    <script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"http://hausmans.com/#website","url":"http://hausmans.com/","name":"Hausmans","potentialAction":{"@type":"SearchAction","target":"http://hausmans.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://hausmans.com/commercial-industrial-roofing/#webpage","url":"http://hausmans.com/commercial-industrial-roofing/","inLanguage":"en-US","name":"COMMERCIAL / INDUSTRIAL ROOFING - Hausmans","isPartOf":{"@id":"http://hausmans.com/#website"},"datePublished":"2014-12-10T07:17:49+00:00","dateModified":"2019-05-30T22:34:38+00:00"}]}</script>
{% endblock %}

{% block page_content %}
    <section class="container">
        <div class="normal">
            <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
                 class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_revslider_element wpb_content_element">
                                <link href="https://fonts.googleapis.com/css?family=Montserrat:700%2C400"
                                      rel="stylesheet" property="stylesheet" type="text/css" media="all">
                                <p
                                        style="z-index: 5; min-width: 71px; max-width: 1114px; margin-bottom: 20px; white-space: normal; font-size: 40px; line-height: 50px; font-weight: 700; color: black; letter-spacing: px;font-family:Montserrat;text-align:center !important;">
                                    Commerical and Industrial Roofing </p>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper" style="color: black; font-size: 18px;">
                                        <p><span>Since 1960, Hausman metal works and roofing has been responsible for literally “covering” a large area in Northwest Missouri. Our certified safety program sets us apart from our competition. As an experienced roofing contractor, we’ve earned a reputation of being a leader in the roofing industry. We’ve provided commercial roofing to numerous industries such as: Heartland Regional Medical Center, Johnson Controls, and Wire Rope Corporation of America.</span>
                                        </p>
                                        <p>Hausman Metal Works and Roofing is a certified TAMKO, TREMCO and GARLAND
                                            roofing installer. We provide built up, as well as hot and cold process
                                            roofing. Hausman is also a certified installer for DERBIGUM roofing. Our
                                            certification to install single ply e.p.d.m. rubber-roofing systems, allows
                                            us to roof shopping centers, warehouses, and office buildings.</p>
                                        <p>&nbsp;</p>

                                    </div>
                                </div>

                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper" style="color: black; font-size: 18px;">
                                        <p>Hausman is honored to belong to both the National Roofing Contractors
                                            Association and the Midwest Roofing Contractors Association. Hausman’s
                                            quality of work is unprecedented in Northwest Missouri and the surrounding
                                            area. Committed to providing a competitive bid, our dedication to high
                                            quality work and professionalism is virtually unmatched.</p>
                                        <p>Make the right decision and allow Hausman Metal Works and Roofing to “cover”
                                            your building.</p>

                                    </div>
                                </div>
                            </div>

                            <figure class="wpb_wrapper vc_figure">
                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="234"
                                                                                               style="margin: 30px auto 60px auto; display: block;"
                                                                                               alt=""
                                                                                               data-src="{% static '/wp-content/uploads/2019/05/solar-panel-roofing-300x234-1.jpg' %}"
                                                                                               class="vc_single_image-img attachment-large lazyload"
                                                                                               src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                    <noscript><img style="margin: 30px auto 60px auto; display: block;" width="300" height="234"
                                                   src="{% static '/wp-content/uploads/2019/05/solar-panel-roofing-300x234-1.jpg' %}"
                                                   class="vc_single_image-img attachment-large" alt=""/></noscript>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
