{% extends '_base.html' %}
{% load static %}

{% block title %}Hausman Metal Works and Roofing | St. Joseph, Missouri{% endblock %}

{% block seo %}
<meta name="description"
      content="Since 1960, Hausman Metal Works has specialized in heating and air conditioning ventilation systems, and custom fabricated stainless steel."/>
<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
<link rel="canonical" href="{% url 'home' %}"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Hausman Metal Works and Roofing | St. Joseph, Missouri"/>
<meta property="og:description"
      content="Since 1960, Hausman Metal Works has specialized in heating and air conditioning ventilation systems, and custom fabricated stainless steel."/>
<meta property="og:url" content="{% url 'home' %}"/>
<meta property="og:site_name" content="Hausmans"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description"
      content="Since 1960, Hausman Metal Works has specialized in heating and air conditioning ventilation systems, and custom fabricated stainless steel."/>
<meta name="twitter:title" content="Hausman Metal Works and Roofing | St. Joseph, Missouri"/>
<script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{
        "@context": "https://schema.org",
        "@graph": [
        {
        "@type": "WebSite",
        "@id": "http://hausmans.com/#website",
        "url": "http://hausmans.com/",
        "name": "Hausmans",
        "potentialAction": {
        "@type": "SearchAction",
        "target": "http://hausmans.com/?s={search_term_string}",
        "query-input": "required name=search_term_string"
        }
        },
        {
        "@type": "WebPage",
        "@id": "http://hausmans.com/#webpage",
        "url": "http://hausmans.com/",
        "inLanguage": "en-US",
        "name": "Hausman Metal Works and Roofing | St. Joseph, Missouri",
        "isPartOf": {
        "@id": "http://hausmans.com/#website"
        },
        "datePublished": "2014-11-11T11:09:47+00:00",
        "dateModified": "2019-09-06T16:12:28+00:00",
        "description": "Since 1960, Hausman Metal Works has specialized in heating and air conditioning ventilation
        systems, and custom fabricated stainless steel."
        }
        ]
        }</script>
<!-- / Yoast SEO plugin. -->
{% endblock %}

{% block page_content %}
<section class="container">
    <div class="normal">
        <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
             class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="wpb_revslider_element wpb_content_element">
                            <link href="https://fonts.googleapis.com/css?family=Montserrat:700%2C400"
                                  rel="stylesheet" property="stylesheet" type="text/css" media="all">
                            <p
                                    style="z-index: 5; min-width: 71px; max-width: 1114px; margin-bottom: 20px; white-space: normal; font-size: 40px; line-height: 50px; font-weight: 700; color: black; letter-spacing: px;font-family:Montserrat;text-align:center !important;">
                                WELCOME TO HAUSMANS </p>

                            <ul>
                                <li><a href="{% url 'sheet-metal-fabrication' %}" style="text-decoration: underline">Sheet
                                    Metal Fabrication</a></li>
                                <li><a href="{% url 'commercial-industrial-roofing' %}" style="text-decoration: underline">Commercial
                                    and Industrial Roofing</a></li>
                                <li><a href="{% url 'waterjet-cutting' %}" style="text-decoration: underline">5-Axis
                                    Waterjet Cutting</a></li>
                                <li><a href="{% url 'services' %}" style="text-decoration: underline">Other Services</a>
                                </li>
                            </ul>
                            <div style="z-index: 6; max-width: 758px; white-space: normal; font-size: 18px; line-height: 22px; font-weight: 500; color: black; margin-top: 20px;">
                                Our reputation for quality as a major sheet metal and roofing
                                contractor is unsurpassed.
                            </div>
                            <div style="display: inline-block; margin: 40px 0 20px 0"><a class="rev-btn"
                                                                                         href="{% url 'portfolio' %}"
                                                                                         style="z-index: 7; min-width: 180px; max-width: 180px; white-space: normal; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat;background-color:rgba(250,183,2,1);border-color:rgba(0,0,0,1);border-radius:3px 3px 3px 3px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;background:#dc0000 !important;cursor:pointer;">
                                PROJECT PHOTO GALLERY
                            </a></div>
                            <div style="display: inline-block; margin: 10px 0 40px 0"><a class="rev-btn"
                                                                                         href="{% url 'contact-us' %}"
                                                                                         style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 400; color: rgba(15,15,15,1); letter-spacing: px;font-family:Montserrat;background-color:rgba(255,255,255,1);border-color:rgba(0,0,0,1);border-radius:3px 3px 3px 3px;border: 1px solid;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;">
                                CONTACT US
                            </a></div>

                            {#                                    {% include 'public_app/background_image_slider.html' %}#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
            {#                {% include 'public_app/legacy_home_page_content.html' %}#}
            <div class="vc_row-full-width vc_clearfix"></div>
            {#                {% include 'public_app/recent_project_carousel.html' %}#}
            <div class="vc_row-full-width vc_clearfix"></div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
                                <span class="vc_sep_holder vc_sep_holder_l"><span
                                        class="vc_sep_line"></span></span><span
                                    class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
