{% extends '_base.html' %}
{% load static %}

{% block title %}What we do - Hausmans{% endblock %}

{% block seo %}
    <!-- This site is optimized with the Yoast SEO plugin v12.8.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <link rel="canonical" href="{% url 'services' %}"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="What we do - Hausmans"/>
    <meta property="og:url" content="{% url 'services' %}"/>
    <meta property="og:site_name" content="Hausmans"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="What we do - Hausmans"/>
    <!-- / Yoast SEO plugin. -->
{% endblock %}

{% block extracss %}
    <style>
        * {
            box-sizing: border-box;
        }
        .row {
            display: flex;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
        }

        .row > .col {
            padding: 14px;
            flex: 1 1 auto;
        }

        .col-sm-6 {
            padding: 14px 0;
            width: 100%;
        }

        @media (min-width: 768px) {
            .col-sm-6 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    </style>
{% endblock %}

{% block page_content %}
    <section class="container">
        <div class="vc_row">
            <div class='col-md-12'>
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper" style="color: black; font-size: 18px;">
                                        <p
                                                style="z-index: 5; min-width: 71px; max-width: 1114px; margin-bottom: 20px; white-space: normal; font-size: 40px; line-height: 50px; font-weight: 700; color: black; letter-spacing: px;font-family:Montserrat;text-align:center !important;">
                                            What We Do</p>
                                        <p>As an experienced roofing contractor and sheet metal specialist – Hausman Metal Works and Roofing provide the following services: commercial and industrial roofing, both new installation and roof repair, metal roofing and solar roofing.
                                        </p>
                                        <p>Our services also include the manufacturing and installation of
                                            industrial sheet metal fabrication, and architectural sheet metal
                                            design.</p>
                                        <p>Our years of experience with both HVAC and industrial ventilation
                                            include: large scale hospital projects with surgery suites and clean
                                            rooms, to simple commercial office ductwork. As always our projects meet
                                            or exceed SMACNA standards.</p>
                                        <p>No job is too small or too large for Hausman metal works and roofing. Our
                                            dedication to high quality work and level of professionalism is
                                            virtually unmatched. Call one of our friendly and professional staff
                                            members today for a competitive bid.</p>
                                        <p>&nbsp;</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wpb_column vc_column_container col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500"
                                                                                                       height="454"
                                                                                                       alt=""
                                                                                                       data-srcset="{% static '/wp-content/uploads/2019/06/1234vf.jpg' %} 682w, {% static '/wp-content/uploads/2019/06/1234vf-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/1234vf-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/1234vf-360x240.jpg' %} 360w, {% static '/wp-content/uploads/2019/06/1234vf-600x399.jpg' %} 600w"
                                                                                                       sizes="(max-width: 682px) 100vw, 682px"
                                                                                                       data-src="{% static '/wp-content/uploads/2019/06/1234vf.jpg' %}"
                                                                                                       class="vc_single_image-img attachment-full lazyload"
                                                                                                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                            <noscript><img width="500" height="454"
                                                           src="{% static '/wp-content/uploads/2019/06/1234vf.jpg' %}"
                                                           class="vc_single_image-img attachment-full" alt=""
                                                           srcset="{% static '/wp-content/uploads/2019/06/1234vf.jpg' %} 682w, {% static '/wp-content/uploads/2019/06/1234vf-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/1234vf-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/1234vf-360x240.jpg' %} 360w, {% static '/wp-content/uploads/2019/06/1234vf-600x399.jpg' %} 600w"
                                                           sizes="(max-width: 682px) 100vw, 682px"/></noscript>
                                        </div>
                                    </figure>
                                </div>
                                <h5 class='heading-content  style-1'><span>COMMERCIAL / INDUSTRIAL ROOFING</span>
                                </h5>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Since 1960, Hausman metal works and roofing has been responsible for
                                            literally “covering” a large area in Northwest Missouri. Our certified
                                            safety program sets us apart from our competition</p>
                                        <p>We offer:</p>
                                        <ul>
                                            <li>Solar roofing</li>
                                            <li>Metal roofing</li>
                                            <li>Roof repair</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="vc_empty_space"
                                     style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                                <a target="_self"
                                   href="{% url 'commercial-industrial-roofing' %}"
                                   class="btn  btn-sm style-4" id="custom-id-0" style="">READ MORE</a></div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500"
                                                                                                       height="333"
                                                                                                       alt=""
                                                                                                       data-srcset="{% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988.jpg' %} 500w, {% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988-360x240.jpg' %} 360w"
                                                                                                       sizes="(max-width: 500px) 100vw, 500px"
                                                                                                       data-src="{% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988.jpg' %}"
                                                                                                       class="vc_single_image-img attachment-full lazyload"
                                                                                                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                            <noscript><img width="500" height="333"
                                                           src="{% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988.jpg' %}"
                                                           class="vc_single_image-img attachment-full" alt=""
                                                           srcset="{% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988.jpg' %} 500w, {% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/05/architectural-sheet-metal-walker-brown-roofing-91988-360x240.jpg' %} 360w"
                                                           sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                        </div>
                                    </figure>
                                </div>
                                <h5 class='heading-content  style-1'><span>ARCHITECTURAL SHEET METAL</span></h5>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Hausman Metal Works and Roofing has a long standing history in the
                                            architectural sheet metal field. As a SMACNA member, Hausman is
                                            recognized as a leader throughout the entire industry</p>

                                    </div>
                                </div>
                                <div class="vc_empty_space"
                                     style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="wpb_column vc_column_container col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_center">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500"
                                                                                                       height="334"
                                                                                                       alt=""
                                                                                                       data-srcset="{% static '/wp-content/uploads/2019/06/123fvsd.jpg' %} 500w, {% static '/wp-content/uploads/2019/06/123fvsd-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/123fvsd-370x247.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/123fvsd-360x240.jpg' %} 360w"
                                                                                                       sizes="(max-width: 500px) 100vw, 500px"
                                                                                                       data-src="{% static '/wp-content/uploads/2019/06/123fvsd.jpg' %}"
                                                                                                       class="vc_single_image-img attachment-full lazyload"
                                                                                                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                            <noscript><img width="500" height="334"
                                                           src="{% static '/wp-content/uploads/2019/06/123fvsd.jpg' %}"
                                                           class="vc_single_image-img attachment-full" alt=""
                                                           srcset="{% static '/wp-content/uploads/2019/06/123fvsd.jpg' %} 500w, {% static '/wp-content/uploads/2019/06/123fvsd-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/123fvsd-370x247.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/123fvsd-360x240.jpg' %} 360w"
                                                           sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                        </div>
                                    </figure>
                                </div>
                                <h5 class='heading-content  style-1'><span>PLASMA CUTTING</span></h5>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Introducing Hausman’s advanced cutting systems plate pro extreme cutting
                                            table, with Koike Aronson Edge Pro controller and Hypertherm 260 XD
                                            plasma and oxyfuel cutting torch. By combining fast cutting speeds,
                                            rapid process cycling, quick changeovers, and high reliability to
                                            maximize productivity, this new cutting machine has changed the way we
                                            serve our customers.</p>

                                    </div>
                                </div>
                                <div class="vc_empty_space"
                                     style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                        </div>
                    </div>
                    </div>
                    <div class="wpb_column vc_column_container col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500"
                                                                                                       height="400"
                                                                                                       alt=""
                                                                                                       data-srcset="{% static '/wp-content/uploads/2019/06/12asa34.jpg' %} 600w, {% static '/wp-content/uploads/2019/06/12asa34-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/12asa34-370x247.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/12asa34-360x240.jpg' %} 360w"
                                                                                                       sizes="(max-width: 600px) 100vw, 600px"
                                                                                                       data-src="{% static '/wp-content/uploads/2019/06/12asa34.jpg' %}"
                                                                                                       class="vc_single_image-img attachment-full lazyload"
                                                                                                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                            <noscript><img width="500" height="400"
                                                           src="{% static '/wp-content/uploads/2019/06/12asa34.jpg' %}"
                                                           class="vc_single_image-img attachment-full" alt=""
                                                           srcset="{% static '/wp-content/uploads/2019/06/12asa34.jpg' %} 600w, {% static '/wp-content/uploads/2019/06/12asa34-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/12asa34-370x247.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/12asa34-360x240.jpg' %} 360w"
                                                           sizes="(max-width: 600px) 100vw, 600px"/></noscript>
                                        </div>
                                    </figure>
                                </div>
                                <h5 class='heading-content  style-1'><span>INDUSTRIAL VENTILATION</span></h5>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>At Hausman Metal Works and Roofing, we are capable of completing large
                                            turn-key projects to simple, small industrial ventilation projects.
                                            Whether it’s dust collection systems or industrial clean air systems,
                                            air filtration products or clean room equipment, our capabilities are as
                                            limitless as the designers and engineers’ concepts.</p>

                                    </div>
                                </div>
                                <div class="vc_empty_space"
                                     style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wpb_column vc_column_container col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500"
                                                                                                       height="333"
                                                                                                       alt=""
                                                                                                       data-srcset="{% static '/wp-content/uploads/2019/06/123456.jpg' %} 500w, {% static '/wp-content/uploads/2019/06/123456-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/123456-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/123456-360x240.jpg' %} 360w"
                                                                                                       sizes="(max-width: 500px) 100vw, 500px"
                                                                                                       data-src="{% static '/wp-content/uploads/2019/06/123456.jpg' %}"
                                                                                                       class="vc_single_image-img attachment-full lazyload"
                                                                                                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                            <noscript><img width="500" height="333"
                                                           src="{% static '/wp-content/uploads/2019/06/123456.jpg' %}"
                                                           class="vc_single_image-img attachment-full" alt=""
                                                           srcset="{% static '/wp-content/uploads/2019/06/123456.jpg' %} 500w, {% static '/wp-content/uploads/2019/06/123456-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/123456-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/123456-360x240.jpg' %} 360w"
                                                           sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                        </div>
                                    </figure>
                                </div>
                                <h5 class='heading-content  style-1'><span>SHEET METAL FABRICATION</span></h5>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>No sheet metal fabrication job is too small or too large for Hausman
                                            Metal Works and Roofing. Our state-of-the-art equipment enables us to
                                            create anything you desire.</p>

                                    </div>
                                </div>
                                <div class="vc_empty_space"
                                     style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                                <a target="_self" href="{% url 'sheet-metal-fabrication' %}"
                                   class="btn  btn-sm style-4" id="custom-id-4" style="">READ MORE</a></div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-sm-6">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left">

                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="500"
                                                                                                       height="309"
                                                                                                       alt=""
                                                                                                       data-srcset="{% static '/wp-content/uploads/2019/06/12334.jpg' %} 465w, {% static '/wp-content/uploads/2019/06/12334-300x199.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/12334-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/12334-360x239.jpg' %} 360w"
                                                                                                       sizes="(max-width: 465px) 100vw, 465px"
                                                                                                       data-src="{% static '/wp-content/uploads/2019/06/12334.jpg' %}"
                                                                                                       class="vc_single_image-img attachment-full lazyload"
                                                                                                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                            <noscript><img width="465" height="309"
                                                           src="{% static '/wp-content/uploads/2019/06/12334.jpg' %}"
                                                           class="vc_single_image-img attachment-full" alt=""
                                                           srcset="{% static '/wp-content/uploads/2019/06/12334.jpg' %} 465w, {% static '/wp-content/uploads/2019/06/12334-300x199.jpg' %} 300w, {% static '/wp-content/uploads/2019/06/12334-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/06/12334-360x239.jpg' %} 360w"
                                                           sizes="(max-width: 465px) 100vw, 465px"/></noscript>
                                        </div>
                                    </figure>
                                </div>
                                <h5 class='heading-content  style-1'><span>HVAC</span></h5>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Hausman Metal Works and Roofing has the ability to successfully complete
                                            any heating, ventilating and air conditioning project – no matter how
                                            big or small your project may be.</p>

                                    </div>
                                </div>
                                <div class="vc_empty_space"
                                     style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
