{% extends '_base.html' %}
{% load static %}

{% block title %}SHEET METAL FABRICATION - Hausmans{% endblock %}

{% block seo %}
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <link rel="canonical" href="http://hausmans.com/sheet-metal-fabrication/"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="SHEET METAL FABRICATION - Hausmans"/>
    <meta property="og:url" content="http://hausmans.com/sheet-metal-fabrication/"/>
    <meta property="og:site_name" content="Hausmans"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="SHEET METAL FABRICATION - Hausmans"/>
    <script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"http://hausmans.com/#website","url":"http://hausmans.com/","name":"Hausmans","potentialAction":{"@type":"SearchAction","target":"http://hausmans.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://hausmans.com/sheet-metal-fabrication/#webpage","url":"http://hausmans.com/sheet-metal-fabrication/","inLanguage":"en-US","name":"SHEET METAL FABRICATION - Hausmans","isPartOf":{"@id":"http://hausmans.com/#website"},"datePublished":"2014-12-10T07:18:50+00:00","dateModified":"2019-05-30T23:20:23+00:00"}]}</script>
{% endblock %}

{% block page_content %}
    <section class="container">
        <div class="normal">
            <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
                 class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_revslider_element wpb_content_element">
                                <link href="https://fonts.googleapis.com/css?family=Montserrat:700%2C400"
                                      rel="stylesheet" property="stylesheet" type="text/css" media="all">
                                <p
                                        style="z-index: 5; min-width: 71px; max-width: 1114px; margin-bottom: 20px; white-space: normal; font-size: 40px; line-height: 50px; font-weight: 700; color: black; letter-spacing: px;font-family:Montserrat;text-align:center !important;">
                                    Sheet Metal Fabrication</p>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>No sheet metal fabrication job is too small or too large for Hausman Metal
                                            Works and Roofing. Our state-of-the-art equipment enables us to create
                                            anything you desire. Because of Hausman’s extensive inventory and certified
                                            safety program you’ll receive a quality product that possesses excellent
                                            workmanship.</p>
                                        <p>Our well equipped shop includes a sheer, press brakes, rollers, CNC
                                            programmable punch, dual head high definition plasma cutter, and an Omax
                                            water jet abrasive cutting system. Hausman Metal Works and Roofing has all
                                            types of MIG and TIG welders, and many types of hand held plasma cutters. We
                                            also have a complete inventory of rounds, flat bars, sheets, angles, and
                                            tubing – in hot rolled, cold rolled, galvanized, stainless steel, aluminum,
                                            copper and pre-finished sheets. We have the best tools to do your job
                                            right.</p>
                                        <p>Because of our professional staff, down to earth friendliness, and ability to
                                            meet schedules, you owe it to yourself to call us. Let us help you with your
                                            next industrial sheet metal project. We look forward to the opportunity to
                                            work with you.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="vc_row" style="text-align: center; margin-top: 40px; margin-bottom: 80px;">
                                <div class="vc_col-sm-6" style="float: left; margin: 0 5px 0 5px;" >
                                        <img width="400"
                                           height="225"
                                           alt=""
                                           data-srcset="{% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500.jpg' %} 500w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500-300x169.jpg' %} 300w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500-370x208.jpg' %} 370w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500-360x202.jpg' %} 360w"
                                           sizes="(max-width: 500px) 100vw, 500px"
                                           data-src="{% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500.jpg' %}"
                                           class="vc_single_image-img attachment-full lazyload"
                                           src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                            <noscript><img width="400" height="225"
                                                           src="{% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500.jpg' %}"
                                                           class="vc_single_image-img attachment-full" alt=""
                                                           srcset="{% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500.jpg' %} 500w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500-300x169.jpg' %} 300w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500-370x208.jpg' %} 370w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-500x500-360x202.jpg' %} 360w"
                                                           sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                </div>
                                <div class="vc_col-sm-6" style="float: left; margin: 0 5px 0 5px;">
                                        <img width="338"
                                           height="225"
                                           alt=""
                                           data-srcset="{% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1.jpg' %} 500w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1-360x240.jpg' %} 360w"
                                           sizes="(max-width: 500px) 100vw, 500px"
                                           data-src="{% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1.jpg' %}"
                                           class="vc_single_image-img attachment-full lazyload"
                                           src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                            <noscript><img width="400" height="266"
                                                           src="{% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1.jpg' %}"
                                                           class="vc_single_image-img attachment-full" alt=""
                                                           srcset="{% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1.jpg' %} 500w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1-300x200.jpg' %} 300w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1-370x246.jpg' %} 370w, {% static '/wp-content/uploads/2019/05/sheet-metal-fabrication-1-1-360x240.jpg' %} 360w"
                                                           sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6" style="float: left; margin: 0 5px 0 5px;">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                            width="337"
                                                            height="225" alt=""
                                                            data-srcset="{% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork.jpg" %} 1000w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-300x200.jpg" %} 300w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-768x512.jpg" %} 768w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-370x247.jpg" %} 370w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-360x240.jpg" %} 360w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-600x400.jpg" %} 600w"
                                                            sizes="(max-width: 1000px) 100vw, 1000px"
                                                            data-src="{% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork.jpg" %}"
                                                            class="vc_single_image-img attachment-full lazyload"
                                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                                        <noscript><img width="800" height="534"
                                                                       src="{% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork.jpg" %}"
                                                                       class="vc_single_image-img attachment-full"
                                                                       alt=""
                                                                       srcset="{% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork.jpg" %} 1000w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-300x200.jpg" %} 300w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-768x512.jpg" %} 768w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-370x247.jpg" %} 370w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-360x240.jpg" %} 360w, {% static "/wp-content/uploads/2019/05/What’s-the-Difference-Between-Sheet-Metal-Fabrication-and-Ironwork-600x400.jpg" %} 600w"
                                                                       sizes="(max-width: 1000px) 100vw, 1000px"/>
                                                        </noscript>
                                                    </div>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
