{% extends '_base.html' %}
{% load static %}

{% block title %}WATERJET CUTTING - Hausmans{% endblock %}

{% block seo %}
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <link rel="canonical" href="http://hausmans.com/waterjet-cutting/"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="WATERJET CUTTING - Hausmans"/>
    <meta property="og:url" content="http://hausmans.com/waterjet-cutting/"/>
    <meta property="og:site_name" content="Hausmans"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="WATERJET CUTTING - Hausmans"/>
    <script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"http://hausmans.com/#website","url":"http://hausmans.com/","name":"Hausmans","potentialAction":{"@type":"SearchAction","target":"http://hausmans.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@type":"WebPage","@id":"http://hausmans.com/waterjet-cutting/#webpage","url":"http://hausmans.com/waterjet-cutting/","inLanguage":"en-US","name":"WATERJET CUTTING - Hausmans","isPartOf":{"@id":"http://hausmans.com/#website"},"datePublished":"2019-05-30T20:23:28+00:00","dateModified":"2019-05-31T06:17:16+00:00"}]}</script>
{% endblock %}

{% block page_content %}
    <section class="container">
        <div class="normal">
            <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
                 class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_revslider_element wpb_content_element">
                                <link href="https://fonts.googleapis.com/css?family=Montserrat:700%2C400"
                                      rel="stylesheet" property="stylesheet" type="text/css" media="all">
                                <p
                                        style="z-index: 5; min-width: 71px; max-width: 1114px; margin-bottom: 20px; white-space: normal; font-size: 40px; line-height: 50px; font-weight: 700; color: black; letter-spacing: px;font-family:Montserrat;text-align:center !important;">
                                    5-Axis Waterjet Cutting</p>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper" style="color: black; font-size: 18px;">
                                        <p><span>The Hausman Omax waterjet is a precision machining workhorse – from prototypes to production runs in sizes up to 4′ x 8′. The Omax waterjet cuts complex flat parts out of materials including metal, stone, plastic, rubber, glass, ceramic and composites directly from a CAD drawing or .DXF file. The Omax waterjet is ideal for short-run part production, just-in-time manufacturing, tooling and prototype part development. No tool changes or complex fixturing reduces setup times by at least 50%, which saves you money.  Here’s what you get when using the Hausman Omax waterjet for your precision project:</span>
                                        </p>
                                        <ul>
                                            <li>Production of a wide variety of short-run parts</li>
                                            <li>Saves valuable machine time where ±0.005″ is acceptable – lower cost to
                                                you
                                            </li>
                                            <li>Easily works with materials that are affected by heat (such as titanium,
                                                and aluminum) or materials that a laser can not cut (such as thicker
                                                metal or composites)
                                            </li>
                                            <li>Work directly from your CAD drawings</li>
                                            <li>Quickly produce one-off parts</li>
                                            <li>Control Just-in-Time inventory requirements</li>
                                            <li>Omax waterjet offers “clean edge” plate work, such as brackets, machine
                                                parts and weldments
                                            </li>
                                            <li>Lets you create complex designs in glass, stone, tile and metal</li>
                                            <li>Makes parts with higher tolerance than any other system</li>
                                            <li>Minimize scrap when working with expensive materials – saves you money
                                            </li>
                                            <li>Environmentally “green” system with quiet and clean operation, low
                                                electrical and abrasive consumption
                                            </li>
                                        </ul>
                                        <p>When you’re ready to save time and money, call Hausman Metal Works and
                                            Roofing to discuss how the Omax waterjet precision machine can easily handle
                                            your next job.</p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row image-row"
                                 style="justify-content: center; margin-top: 40px; margin-bottom: 80px;">
                                <div class="vc_col-sm-6" style="float: left; margin: 0 5px 0 5px;">
                                    <img width="400"
                                         height="225"
                                         alt=""
                                         sizes="(max-width: 500px) 100vw, 500px"
                                         data-src="{% static '/wp-content/uploads/Water Jet Pics/195875.image0.jpg' %}"
                                         class="vc_single_image-img attachment-full lazyload"
                                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                    <noscript><img width="400" height="225"
                                                   src="{% static '/wp-content/uploads/Water Jet Pics/195875.image0.jpg' %}"
                                                   class="vc_single_image-img attachment-full" alt=""
                                                   sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                </div>
                                <div class="vc_col-sm-6" style="float: left; margin: 0 5px 0 5px;">
                                    <img width="400"
                                         height="225"
                                         alt=""
                                         sizes="(max-width: 500px) 100vw, 500px"
                                         data-src="{% static '/wp-content/uploads/Water Jet Pics/HIGH-PRESSURE-SYSTEM-420MPA-with-AccustreamHypertherm.jpg' %}"
                                         class="vc_single_image-img attachment-full lazyload"
                                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                    <noscript><img width="400" height="225"
                                                   src="{% static '/wp-content/uploads/Water Jet Pics/HIGH-PRESSURE-SYSTEM-420MPA-with-AccustreamHypertherm.jpg' %}"
                                                   class="vc_single_image-img attachment-full" alt=""
                                                   sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                </div>
                                <div class="vc_col-sm-6" style="float: left; margin: 0 5px 0 5px;">
                                    <img width="400"
                                         height="225"
                                         alt=""
                                         sizes="(max-width: 500px) 100vw, 500px"
                                         data-src="{% static '/wp-content/uploads/Water Jet Pics/IMG_2021-600x448.jpg' %}"
                                         class="vc_single_image-img attachment-full lazyload"
                                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                    <noscript><img width="400" height="225"
                                                   src="{% static '/wp-content/uploads/Water Jet Pics/IMG_2021-600x448.jpg' %}"
                                                   class="vc_single_image-img attachment-full" alt=""
                                                   sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                </div>
                            </div>
                            <div class="vc_row image-row"
                                 style="justify-content: center; margin-top: 40px; margin-bottom: 80px;">
                                <div class="vc_col-sm-6" style="float: left; margin: 0 5px 0 5px;">
                                    <img width="400"
                                         height="225"
                                         alt=""
                                         sizes="(max-width: 500px) 100vw, 500px"
                                         data-src="{% static '/wp-content/uploads/Water Jet Pics/Multiple-5-Axis-Heads-for-Water-Jet-Cutting-Machine-600x448.jpg' %}"
                                         class="vc_single_image-img attachment-full lazyload"
                                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                    <noscript><img width="400" height="225"
                                                   src="{% static '/wp-content/uploads/Water Jet Pics/Multiple-5-Axis-Heads-for-Water-Jet-Cutting-Machine-600x448.jpg' %}"
                                                   class="vc_single_image-img attachment-full" alt=""
                                                   sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                </div>
                                <div class="vc_col-sm-6" style="float: left; margin: 0 5px 0 5px;">
                                    <img width="400"
                                         height="225"
                                         alt=""
                                         sizes="(max-width: 500px) 100vw, 500px"
                                         data-src="{% static '/wp-content/uploads/Water Jet Pics/water-jet-cutting-machine-2000x3000mm-for-price.jpg' %}"
                                         class="vc_single_image-img attachment-full lazyload"
                                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="/>
                                    <noscript><img width="400" height="225"
                                                   src="{% static '/wp-content/uploads/Water Jet Pics/water-jet-cutting-machine-2000x3000mm-for-price.jpg' %}"
                                                   class="vc_single_image-img attachment-full" alt=""
                                                   sizes="(max-width: 500px) 100vw, 500px"/></noscript>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
